<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/karts.css' %}">
    <link rel="stylesheet" href="{% static 'css/karatra.css' %}">
    <link rel="stylesheet" href="{% static 'css/dot.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn.css' %}">
</head>
<body>
    <div class="container">

        <!-- SIDEBAR -->
        <nav class="sidebar">
            <div class="logo">
                <h2>Nectar<span>Mada</span></h2>
            </div>

            <ul>
                <li><a href="{% url 'dashboard_home' %}">TABLEAU DE BORD</a></li>
                <li><a href="{% url 'catalogue_produits' %}">PRODUITS</a></li>
                <li><a href="#">STOCKS</a></li>
                <li><a href="#">ACHATS</a></li>
                <li><a href="#">VENTES</a></li>
                <li><a href="{% url 'liste_clients' %}">CLIENTS</a></li>
                <li><a href="{% url 'list_providers' %}">FOURNISSEURS</a></li>
                <li><a href="{% url 'the_archives' %}">ARCHIVES</a></li>
            </ul>
        </nav>

        <!-- CONTENU PRINCIPAL -->
        <main class="main-content">

            <header>
                <div class="search-bar">
                    <input type="text" placeholder="Rechercher ici...">
                </div>
            </header>

            <!-- ICI LE CONTENU CHANGE -->
            <section class="content-body">
                {% block content %}
                {% endblock %}
            </section>
            <script src="{% static 'js/table_form_manager.js' %}" defer></script>

        </main>
    </div>
</body>
</html>